@page
@model ContosoCrafts.WebSite.Pages._404ErrorModel
@{
        ViewData["Title"] = "No such page";
}

<!--Simple error message-->
<h1>404 Not found</h1>
<p>No such page exists at this location.</p>
