@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<body>
    <div>
        <div class="clear: both"></div>
        <header class="">
            <!--Logo for our website-->
            <img src="~/IndexLogo.png" class="block-margin-left-right" alt="Home Page Logo">
            <!--Headling of the page-->
            <div class="header-center">
                <h1><b>A Community For Plant Lovers!</b></h1>
                <!--Redirecting the learn more! button to the Plant Types page-->
                <a href="/PlantType"><button class="btn-primary btn-rounded">Learn more!</button></a> 
            </div>
        </header>
    </div>
    <!--Gallery of photos on home page-->
    <ul class="wrap-flex">
        <li class="display-list-style">
            <img src="https://drive.google.com/uc?export=view&id=1-GgCJPlD3qqy_mTneVYvRE0pBL2Cuj7m" alt="..." loading="lazy" class="cover-bottom-img">
        </li>
        <li class="display-list-style">
            <img src="https://drive.google.com/uc?export=view&id=1KUGm3un4dhjrVLfIph3N-ne-H234SwSQ" alt="..." loading="lazy" class="cover-bottom-img">
        </li>
        <li class="display-list-style">
            <img src="https://drive.google.com/uc?export=view&id=179mVRq7IzTiprGTD6e_s4KY3Qw9bDlxz" alt="..." loading="lazy" class="cover-bottom-img">
        </li>
        <li class="display-list-style">
            <img src="https://drive.google.com/uc?export=view&id=1WcQUEb8mHQHu7SpLEQ_bqHkXFR3pE0Q5" alt="..." loading="lazy" class="cover-bottom-img">
        </li>
        <li class="display-list-style">
            <img src="https://drive.google.com/uc?export=view&id=1mnH_Ypy3mxy0j6PlDEynarFaSyJBGIQ9" alt="..." loading="lazy" class="cover-bottom-img">
        </li>
        <li class="display-list-style">
            <img src="https://drive.google.com/uc?export=view&id=1Fvl_zNGRPd-_cTTSMzP6dFoCDrMsZIrJ" alt="..." loading="lazy" class="cover-bottom-img">
        </li>
        <li class="display-list-style">
            <img src="https://drive.google.com/uc?export=view&id=1_jdwcxjTxGb3bbStDeg_YrAMzkTMbf0B" alt="..." loading="lazy" class="cover-bottom-img">
        </li>
        <li class="display-list-style">
            <img src="https://drive.google.com/uc?export=view&id=1yT2TgRGcA_-vMT_gGoGNvjB3j1acOrax" alt="..." loading="lazy" class="cover-bottom-img">
        </li>
        <li class="display-list-style">
            <img src="https://drive.google.com/uc?export=view&id=1INz5heN3xQGAT0OGyOfG3Ewm6gtX9I5Y" alt="..." loading="lazy" class="cover-bottom-img">
        </li>
        <li class="display-list-style">
            <img src="https://drive.google.com/uc?export=view&id=1L1Y5oO1KtrGhxxPojAoelnACQ7iSfCk1" alt="..." loading="lazy" class="cover-bottom-img">
        </li>
        <li class="display-list-style">
            <img src="https://drive.google.com/uc?export=view&id=1ZvbSs6nPBcWsocMpFbLmkLPAvdlSf3Cq" alt="..." loading="lazy" class="cover-bottom-img">
        </li>
    </ul>

</body>

<script src="_framework/blazor.server.js"></script>
