@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<div class="clear: both"></div>

<!--privacy content-->
<p>
    We here at Homegrown Horizons shall not collect any personal information from you when you use the website,
    unless the information is voluntary provided. Thus, happy planting!
</p>
<!--Adding an image to capture the user attention-->
<li class="display-list-style">
    <img src="https://drive.google.com/uc?export=view&id=1KUGm3un4dhjrVLfIph3N-ne-H234SwSQ" alt="..." class="cover-bottom-img">
</li>
